@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
//font-family: 'Lexend', sans-serif;
//font-family: 'Lobster Two', sans-serif;

$lexend: 'Lexend', sans-serif;
$lobsterTwo: 'Lobster Two', sans-serif;
$leagueSpartan: 'League Spartan', sans-serif;

$fontBase: clamp(15px,3vw,26px);