@mixin grid-template-center{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

@mixin grid-content-center{
    grid-column: 2;
    grid-row: 2;
}

@mixin flex-center($flex-direction){
    display: flex;
    flex-direction: $flex-direction;
    align-items: center;
    justify-content: center;
}