$primaryColor: #0A0A0A;
$secondaryColor: #FFFFFF;
$tertiaryColor: #ff8800;

// components/gallery
$transitionTime: 1000ms;

//components/about
$aboutImageWidth: clamp(200px, 20rem, 400px);

//components/cardset
$cardWidth: clamp(100px, 10rem, 300px);
$cardHeight: calc($cardWidth * 1.33);

$iconSize: clamp(25px, 2rem, 50px);

//pages/section-gallery
$gallerySectionHeight: clamp(10rem,100vh,70rem);
$gallerySectionHeightSmall: clamp(60rem,140vh,80rem);