$backgroundColor: #0A0A0A;
$fontColor: #FFFFFF;

// components/gallery
$transitionTime: 1000ms;

//components/cardset
$cardWidth: clamp(120px, 10rem, 300px);
$cardHeight: clamp(180px, 15rem, 450px);

$iconSize: clamp(25px, 2rem, 50px);

//pages/section-gallery
$gallerySectionHeight: clamp(10rem,100vh,70rem);
$gallerySectionHeightSmall: clamp(60rem,140vh,80rem);