@use '../abstracts/index' as *;

html, body {
    width: 100%;
    min-width: 320px;
    background-color: $backgroundColor;
    color: $fontColor;
    font-size: $fontBase !important;
    text-shadow: 2px 2px 2px #0A0A0A !important;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: none;
}
*{
    font-family: $leagueSpartan !important;
}