@use '../abstracts/' as *;

html, body {
    width: 100%;
    background-color: $backgroundColor;
    color: $fontColor;
    font-size: $fontBase !important;
    text-shadow: 2px 2px 2px #0A0A0A !important;
    font-family: $leagueSpartan !important;
}