@use '../abstracts/index' as *;

.cardset-wrapper{
  width: 200px;
  height: 300px
}

.cardset{
    position: relative;
    width: 100%;
    height: 100%;
}

.card{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 1;
  border: 1.5px groove white;
  border-radius: 7%;
  /*
  &:nth-child(1) {
    //background-color: blue;
    transform: rotate(-60deg) translateX(-16%) translateY(-26%);
  }
  &:nth-child(2){
    //background-color: green;
    transform: rotate(-45deg) translateX(-12%) translateY(-19%);
  }
  &:nth-child(3){
    //background-color: yellow;
    transform: rotate(-30deg) translateX(-8%) translateY(-13%);
  }
  &:nth-child(4){
    //background-color: purple;
    transform: rotate(-15deg) translateX(-4%) translateY(-7%);
  }
  &:nth-child(5){
    //background-color: orange;
    transform: rotate(-0deg);
  }
   */
  &:nth-child(1) {
    //background-color: blue;
    transform: rotate(-60deg) translateX(-16%) translateY(-0%);
  }
  &:nth-child(2){
    //background-color: green;
    transform: rotate(-45deg) translateX(-12%) translateY(-0%);
  }
  &:nth-child(3){
    //background-color: yellow;
    transform: rotate(-30deg) translateX(-8%) translateY(-0%);
  }
  &:nth-child(4){
    //background-color: purple;
    transform: rotate(-15deg) translateX(-4%) translateY(-0%);
  }
  &:nth-child(5){
    //background-color: orange;
    transform: rotate(-0deg);
  }
}