@use '../abstracts/index' as *;

.cardset-wrapper{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardsets-wrapper{
  @include grid-content-center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: $gallerySectionHeight;
  @media screen and (max-width: $media-desktop + 200px){
    min-height: $gallerySectionHeightSmall;
  }
}

.cardsets{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 15%;
  @media screen and (max-width: $media-desktop + 200px){
    flex-direction: column;
    gap: 2rem;
  }
}

.cardset{
    width: 100%;
    height: 100%;
    user-select: none;
}

.card{
  position: absolute;
  left: calc(50% - $cardWidth/2);
  top: calc(40% - $cardHeight/2);
  width: $cardWidth;
  height: $cardHeight;
  opacity: 1;
  border-radius: 7%;
  transition: transform $transitionTime ease-out, opacity $transitionTime ease-out;
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.6);
  &:nth-child(1) {
    transform: rotate(-75deg) translateX(-20%);
    opacity: 0;
  }
  &:nth-child(2) {
    transform: rotate(-60deg) translateX(-16%);
    opacity: 1;
  }
  &:nth-child(3){
    transform: rotate(-45deg) translateX(-12%);
  }
  &:nth-child(4){
    transform: rotate(-30deg) translateX(-8%);
  }
  &:nth-child(5){
    transform: rotate(-15deg) translateX(-4%);
  }
  &:nth-child(6){
    transform: rotate(-0deg);
    opacity: 1;
  }
}

.list-move{
  transition: transform $transitionTime ease-in-out, opacity $transitionTime ease-in-out;
}

.list-enter-from{
  opacity: 0;
}
.list-enter-active{
  transition: opacity $transitionTime ease-out
}
.list-enter-to{
  opacity: 0;
}
.list-leave-from{
  transform: rotate(0deg) translateX(0%);
}
.list-leave-active{
  transition: all $transitionTime - 250 cubic-bezier(.21,.94,.59,.94);
}
.list-leave-to{
  opacity: 0;
  transform: rotate(15deg) translateX(100%);
}