@use '../abstracts/index' as *;

.section-content-column{
  @include flex-center(column);
  gap: 2rem;
}

.cardsets{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15%;
  &:nth-child(1){
    transform: translateY(-100px);
  }
  @media screen and (max-width: 1000px){
    flex-direction: column;
    gap: 2rem;

  }
}