@use '../abstracts/index' as *;

.home-wrapper{
  position: relative;
  z-index: 0;
}

.home-background-image{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url('/mainBG/bgWide.jpg') no-repeat center center fixed;
  background-size: cover;
  @media screen and (max-width: 1000px){
    background: url('/mainBG/bgMobile.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  &::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    bottom: -3%;
    left: -5%;
    right: -5%;
    height: 5%;
    filter: blur(10px);
  }
}
