@use '../abstracts/index' as *;
.header{
  position: absolute;
  width: 100%;
  min-width: 320px;
  height: 5rem;
  padding-inline: 1rem;
  display: flex;
  font-family: $lexend;
  z-index: 1000;
}
.headerButtons{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem,4vw,3rem);
}