@use '../abstracts/index' as *;
.header{
  position: absolute;
  width: 100%;
  min-width: 320px;
  height: 5rem;
  padding-inline: 1rem;
  display: flex;
  font-family: $lexend;
  z-index: 99;
}
.headerButtons{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem,4vw,3rem);
  @media screen and (max-width: $media-tablet){
    display: none;
  }
}

// MAKE A NICE LOOKING MENU BUTTON IN TOP RIGHT CORNER AND MENU FOR THE WHOLE SCREEN WHEN CLICKED
.headerButtons-mobile{
  @media screen and (min-width: 1000px) {
    display: none;
  }
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.header-router{
  color: inherit;
  text-decoration: none;

}