@use '../abstracts/index' as *;

.section{
    background-color: black;
    height: fit-content;
    min-height: 102vh;
    width: 100%;
    padding-block:5rem;
    overflow: hidden;
    @include grid-template-center;
}

.section-content-column, .section-content-row{
    @include grid-content-center;
    row-gap: 2rem;
}

.section-content-column{
    @include flex-center(column);
}

.section-content-row{
    @include flex-center(row);
}