@use '../abstracts/' as *;

.section{
    background-color: black;
    height: calc(fit-content);
    min-height: 110vh;
    min-width: 480px;
    width: 100%;
    padding-block:5rem;
    overflow: hidden;
    @include grid-template-center;
    border-block: 2px white solid;
}