@use '../abstracts/index' as *;

.section{
    position: relative;
    background-color: black;
    min-height: 102vh;
    width: 100%;
    padding-block:5rem;
    overflow: hidden;
    @include grid-template-center;
    & *{
        z-index: 5;
    }
}

.section-content-column, .section-content-row{
    @include grid-content-center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 100%;
}

.section-content-column{
    @include flex-center(column);
}

.section-content-row{
    @include flex-center(row);
}